.btn {
  width: 12rem;
  height: 40px;
  text-align: center;
  background: $main-color-d;
  border-radius: 5px;
  color: #f2f2f2;
  font-weight: 500;
  font-size: 2rem;
  border: none;
  outline: none;
  opacity: 0.9;
  transition: opacity 0.5s linear;
  cursor: pointer;
  &_cart {
    width: 100%;
    height: 40px;
    font-weight: 400;
    font-size: 1.2rem;
    background: $main;
    justify-self: flex-end;
    letter-spacing: 1px;
  }
  &_carousel {
    position: absolute;
    width: 20.5rem;
    height: 47px;
    font-size: 2.5rem;
    opacity: 1;
    background-color: $main-color-d;
    transition: background-color 0.5s linear;
    bottom: 15px;
    right: 28px;
    z-index: 10;
  }
  &_page-item {
    width: 18.8rem;
  }
}

.btn-minus {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  &::before {
    display: block;
    position: absolute;
    content: "";
    border-bottom: 3px solid #000;
    width: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
}
.btn-plus {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: $main;
  cursor: pointer;
  &_26px {
    width: 25px;
    height: 25px;
  }
  &::before {
    display: block;
    position: absolute;
    content: "";
    border-bottom: 2px solid #f2f2f2;
    width: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
  &::after {
    display: block;
    position: absolute;
    content: "";
    border-bottom: 2px solid #f2f2f2;
    width: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(90deg);
  }
}

@media (any-hover: hover) {
  .btn {
    &:hover {
      opacity: 1;
      transition: opacity 0.1s linear;
    }
    &_carousel:hover {
      background-color: $main;
      transition: background-color 0.1s linear;
    }
  }
}
