.slider {
  position: relative;
  padding-top: 3rem;
  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
  }
  &__panel {
    display: flex;
    column-gap: 3rem;
    &-wrap {
      height: 28px;
    }
    &_active {
      border-bottom: $border;
      .slider__panel-popular {
        color: $second-color;
      }
    }
    &-new {
      display: block;
      font-weight: 500;
      font-size: 2rem;
      text-decoration: none;
      color: #111111;
    }
    &-popular {
      display: block;
      font-weight: 500;
      font-size: 2rem;
      text-decoration: none;
      color: #111111;
    }
  }
  &__wrapper {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
  }
}

.arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #111111;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.5s linear;
  cursor: pointer;
  &-right {
    top: 161px;
    right: -72px;
  }
  &-left {
    top: 161px;
    left: -72px;
  }
}

.triangle {
  position: absolute;
  width: 13px;
  height: 13px;
  border-top: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  margin-right: 60px;
  &-right {
    top: 50%;
    right: -44px;
    transform: translateY(-50%) rotate(45deg);
  }
  &-left {
    top: 50%;
    right: -48px;
    transform: translateY(-50%) rotate(-135deg);
  }
}

@media (any-hover: hover) {
  .arrow:hover {
    opacity: 0.8;
    transition: opacity 0.1s linear;
  }
}
