@import "scss/libs/normalize.css";
@import "scss/base/variables";
@import "scss/components/fonts";
@import "scss/components/header";
@import "scss/components/nav";
@import "scss/components/line";
@import "scss/components/carousel";
@import "scss/components/catalog";
@import "scss/components/slider";
@import "scss/components/more";
@import "scss/components/buttons";
@import "scss/components/cart";
@import "scss/components/footer";
@import "scss/components/popup";

html {
  font-size: 62.5%;
}

body {
  font-family: "DIN Pro", Arial, sans-serif;
  display: grid;
  grid-template-columns: auto 85rem auto;
  grid-template-rows: auto auto auto;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #f2f2f2;
}
.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #f2f2f2;
}
.footer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: #f2f2f2;
}
.nav {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}
.cart {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}

.container {
  margin: 0 auto;
  width: 70rem;
}
